<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmUTIxA-m5GNJjWXPeAaAUCgJWpo_xiAc</string>
	<key>GCM_SENDER_ID</key>
	<string>959694560903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flavorHub</string>
	<key>PROJECT_ID</key>
	<string>flavour-hub-c3187</string>
	<key>STORAGE_BUCKET</key>
	<string>flavour-hub-c3187.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959694560903:ios:027510be18b733f028e222</string>
</dict>
</plist>